<div class="container">
    <div class="row align">
        <div class="col-lg-6">
            <img src="/images/welcomek.png" alt="" />
        </div>
        <div class="col-lg-6 ">
            <div class="about-right">
                <h2 class="side-title">
                    Welcome To Broumount
                </h2>
                <p class="desc lh-base" style="text-indent: 45px; font-size: 18px;">
                    Bromount Adventure Tours presents an array of thrilling activities
                    in the enchanting Mount Bromo region, promising an extraordinary
                    journey for all participants. Whether you're an adrenaline junkie
                    seeking extreme adventures or a nature enthusiast craving
                    breathtaking encounters, our commitment to excellence caters
                    to your desires. The pinnacle of our offerings is the Bromo
                    Adventure package, where seasoned guides lead you through
                    challenging trails and awe-inspiring landscapes, ensuring
                    an unforgettable expedition. Equipped with dependable Jeep
                    vehicles, previously inaccessible terrains become accessible,
                    guaranteeing a gratifying experience.
                    <br><br>
                </p>
                <p class="desc lh-base" style="text-indent: 45px; font-size: 18px;">
                    Furthermore, we prioritize your comfort and safety, providing
                    comprehensive facilities and well-trained staff to ensure a
                    seamless voyage. From convenient hotel pick-up to off-road
                    motorcycle rental, every detail of your adventure is meticulously
                    arranged. Accompanied by knowledgeable guides, enriched with
                    insights into the area's history and culture, and guided by
                    skilled drivers, your journey is both enlightening and secure.
                    At Bromount Adventure Tours, our mission is to craft enduring
                    memories and meaningful experiences, inviting you to embark on
                    an exhilarating exploration of Mount Bromo.
                </p>
            </div>
        </div>
    </div>
</div>