<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/carousel1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block top-0  mt-5 ">
                <img src="/images/bromologin.png" alt="">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/carousel2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block top-0  mt-5 ">
                <h5 class="mt-5 fs-2">what is Mount Bromo?</h5>
                <hr>
                <p>Mount Bromo is one of the five mountains located in the Tengger Mountains complex. It has
                    both natural beauty and easily accessible hiking trails, making it attractive to
                    visitors. Most of the tourist attractions at Mount Bromo come from natural phenomena and
                    attractions. One of the special natural phenomena on this mountain is the crater within
                    a crater. Additionally, the surrounding area is adorned with expanses of sand sea.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/carousel3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block top-0  mt-5 ">
                <h5 class="mt-5 fs-1">Why is it called the Whispering Sands in Bromo?</h5>
                <hr>
                <p>The Whispering Sands is a term used to depict the sound of wind traversing the sand dunes
                    of Mount Bromo. With its fine sand that shifts with the wind, Mount Bromo creates this
                    distinctive whispering effect. Some liken it to the whispering of the wind, the
                    whispering of the sand, or simply the whispers of Mount Bromo.
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/carousel4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block top-0  mt-5 ">
                <h5 class="mt-5 fs-1">What makes Mount Bromo so famous?</h5>
                <hr>
                <p>Bromo, the extraordinary charm of Java Island! Standing alongside six other major
                    volcanoes in Indonesia, it holds the title of "Majestic Mountain" for its unparalleled
                    beauty. The breathtaking scenery includes an active volcano rising from a sea of sand,
                    surrounded by other majestic peaks. More than just a captivating holiday destination,
                    Bromo also serves as a venue for Hindu and Buddhist rituals honoring Lord Vishnu.
                    Beneath the captivating Bromo skies, nature and spirituality unite in a mesmerizing
                    harmony!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/carousel5.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block top-0  mt-5 ">
                <h5 class="mt-5 fs-1">When is the best time to visit Mount Bromo?</h5>
                <hr>
                <p>Mount Bromo is typically busiest with tourists during the spring season, which spans from
                    April to June, and again from October to November..</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>