<div class="container">
    <div class="row contact-us-arrow d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-sm-6 left-side text-lg-start">
            <h2>Contact Us</h2>
            <h2>For More Information</h2>
        </div>
        <div class="col-lg-6 col-sm-6 right-side d-flex justify-content-between">
            <div class="left">
                <img src="/images/Line 15.png" alt="" style="height: 200px;">
            </div>
            <div class="right ">
                <h2>Bromount</h2>
                <h2>Phone Number</h2>
                <div class="btn-center ">
                    <small class="text-body-secondary"><a href="#" class="btn" style="color: black; font-weight:bolder">Contact Us</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
