<div class="container">
    <footer class="py-4">
        <div class="row" style="justify-content: space-between;">

            <div class="col-lg-6 col-sm-6  mb-3 " style="padding-right:45px;">
                <div class="footer-logo" style="padding-bottom: 10px;">
                    <img src="/images/bromologin.png" alt="Logo">
                </div>
                <div class="footer-main ">
                    <span>
                        Do you want a practical holiday to Mount Bromo at an economical and satisfying price?
                        Don't worry, our agent BROMOUNT provides a choice of Bromo tour packages, cheap, best
                        and most complete. In this way, your holiday trip in East Java will become more
                        practical, safe and enjoyable.
                    </span>
                </div>
                <div class="icon-footer">
                    <div class="icon">
                        <i class="fa-brands fa-facebook"></i>
                        <span>Facebook</span>
                    </div>
                    <div class="icon left">
                        <i class="fa-brands fa-tiktok"></i>
                        <span>Tikok</span>
                    </div>
                    <div class="icon left">
                        <i class="fa-brands fa-instagram"></i>
                        <span>Instagram</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 mb-3">
                <div class="title-footer">
                    <h5>More Information</h5>
                </div>
                <div class="icon-block">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                        <span>+62 897-8251-321</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span>24/7 Providing Information </span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span>Jl. Danau Sentani Raya No.B25 Blok H1, Madyopuro, Kec. Kedungkandang, Kota Malang,
                            Jawa Timur 65139</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 mb-3">
                <div class="title-footer">
                    <h5>Quick Links</h5>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: #fff;"><i
                                class="fa-solid fa-caret-right" style="margin-right: 5px;"></i>About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: #fff;"><i
                                class="fa-solid fa-caret-right" style="margin-right: 5px;"></i>Packages</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: #fff;"><i
                                class="fa-solid fa-caret-right" style="margin-right: 5px;"></i>Facilities</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: #fff;"><i
                                class="fa-solid fa-caret-right" style="margin-right: 5px;"></i>Galleries</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: #fff;"><i
                                class="fa-solid fa-caret-right" style="margin-right: 5px;"></i>Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>