<div class="order">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Via
      </div>
      <div class="card-body">
        <div class="order-list d-flex justify-content-between">
          <div class="time">
            <p style="margin-bottom: -5px;">time</p>
            <p>basecamp</p>
          </div>
          <div class="success text-center mt-2">
            <span onclick="document.getElementById('invoice').style.display='block'" style="color: #ff7a00; font-weight: bold;">Invoice</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>