<div class="payment" id="payment">
  <div class="container d-flex justify-content-center my-5">
    <div class="card" style="width: 60%;">
      <div class="card-body left">
        <h2 style="font-weight: bolder;">Payment Information</h2>
        <div
          class="body my-3"
          style="background-color: #F9F9F9;display: flex; padding: 15px;"
        >
          <div class="left">
            <span style="font-weight: bold;">Via Malang</span>
            <img src="/images/logo baru ajay.png" alt="" height="25px" />
          </div>
          <div class="right">
            <span>Rp 1.7000.000</span>
          </div>
        </div>
        <div class="body my-3">
          <input
            style="padding: 10px;"
            type="text"
            name="rute_1"
            placeholder="input kan rute 1"
          />
        </div>
        <div class="body my-3">
          <input
            style="padding: 10px;"
            type="text"
            name="rute_1"
            placeholder="input kan rute 1"
          />
        </div>
        <div class="body my-3">
          <input
            style="padding: 10px;"
            type="text"
            name="rute_1"
            placeholder="input kan rute 1"
          />
        </div>
        <div class="body my-3">
          <span style="font-weight: bolder;margin-right: 15px;">payment</span>
          <img src="/images/image 2.png" alt="" height="30px" />
        </div>
      </div>
      <div style="background-color: #FFDEBF; " class="card-body right">
        <div class="logo d-flex justify-content-center" style="flex: 5;">
          <img
            src="/images/vecteezy_montana-forma-para-logo_30739723 1.png"
            alt=""
            height="85px"
          />
          <span
            onclick="document.getElementById('payment').style.display='none'"
            class="close"
            title="Close"
          >×</span>
        </div>
        <div style="display:flex;flex-direction: column;" class="subtotal">
          <div
            style="background-color: #FFDEBF;font-weight: bolder; padding: 10px; margin-top: 100px;"
            class="card"
          >
            <div class="note">
              <span>Sub Total</span>
            </div>
            <div class="price">
              <span>Rp.1.700.000</span>
            </div>
          </div>
          <div style="margin-top: 50px;" class="button">
            <button
              onclick="document.getElementById('Qris').style.display='block'"
              type="button"
            >Pay Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>