<div class="Qris" id="Qris">
  <div class="container text-center">
    <div class="qr text-center">
      <h2 style="margin: 15px;font-weight: bold;">Bromount</h2>
      <img src="/images/image 1.png" alt="" />
    </div>
    <div class="button" style="margin-top: 45px;">
      <button
        onclick="document.getElementById('Qris').style.display='none'"
      >Close</button>
    </div>
  </div>
</div>