<div class="waitforpayment mt-5">
  <div class="container">
    <h2>Waiting for payment</h2>
    <div class="card">
      <div class="card-header">
        Via
      </div>
      <div class="card-body">
        <div class="order-list d-flex justify-content-between">
          <div class="time">
            <p style="margin-bottom: -5px;">time</p>
            <p>basecamp</p>
          </div>
          <div class="success text-center mt-2">
            <div class="button">
              <button
                onclick="document.getElementById('payment').style.display='block'"
              >Pay Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>